header {
    height: 3.125rem;
}

header .my-fs {
    font-size: 0.8rem;
}

header .col-auto a {
    text-decoration: none;
}


/***MAIN HEADER***/

.students-online {
    font-size: 0.8rem;
}


/***DEBUG***/

/* .debug-header {
    height: 3.125rem;
} */

/* .debug-col-auto {
    background-color: aquamarine;
}

.debug-col {
    background-color: aqua;
} */

.debug-aside {
    height: calc(100vh - 3.125rem);
    background-color: #0E253A;
    padding: 0 1.875rem;
}

/* 
.debug-col-main {
    background-color: coral;
} */

.debug-header-main {
    background-color: #1B72E8;
}

/* .debug-color-card {
    background-color: bisque;
    border: 2px dashed royalblue;
} */
