header {
    height: 3.125rem;
}

header .my-fs {
    font-size: 0.8rem;
}

header .col-auto a {
    text-decoration: none;
}

/***MAIN HEADER***/

.students-online {
    font-size: 0.8rem;
}

.badge-style {
    background-color: #1e5195;
    font-size: 0.6rem;
    cursor: pointer;
}

.side-button {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.side-button:hover {
    background-color: rgb(227, 227, 227);
}

.nav-top-aside li {
    list-style-type: none;
}

/***TABLE***/

.avatar-table {
    width: 1.25rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    padding-left: 1.25rem;
    font-size: 0.8rem;
}

.th-big {
    width: 50%;
}

.img-table {
    width: 1.25rem;
}

table tr i {
    color: grey;
    cursor: pointer;
}


/***DEBUG***/

/* .debug-header {
    height: 3.125rem;
} */

/* .debug-col-auto {
    background-color: aquamarine;
}

.debug-col {
    background-color: aqua;
} */

.debug-aside {
    height: calc(100vh - 3.125rem);
    background-color: #0E253A;
    padding: 0 1.875rem;
}

/* 
.debug-col-main {
    background-color: coral;
} */

.debug-header-main {
    background-color: #1B72E8;
}

/* .debug-color-card {
    background-color: bisque;
    border: 2px dashed royalblue;
} */
